body {
    background-color: lightgray;
    margin: 0px 80px 0px 80px;
}
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: green;
}

.card:hover {border-color:black;}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}
.center-div {
  margin: 0 auto;
  width:  80%;
}
.left{
  text-align:left;
}
th{font-size:small;}
td{font-size: small;}
.small-picture{max-height:30px;}
.form-group{opacity:0.7;color:white;}
body{background-image: url('https://www.desktopbackground.org/download/o/2010/09/02/73539_basketball-wood-backgrounds_2560x1440_h.jpg');}
#form_save{margin: auto;width:100%;}
.whitetitle{color:whitesmoke;margin-top:50px;margin-bottom: 10px;}
.result{font-size:1.3rem;text-align:right;}