body {
    background-color: lightgray;
    margin: 0px 80px 0px 80px;
}
.btn-group{ }
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: green;
}

.card:hover {border-color:black;}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}
.center-div {
  margin: 0 auto;
  width:  80%;
}
.left{
  text-align:left;
}

.small-picture{max-height:30px;}