{% if (id == name) %} <button type="button" class="btn btn-lg btn-primary btn-{{name}}">{{ btn_label }}</button>
  {% else %}<button type="button" class="btn btn-lg btn-secondary btn-{{name}}">{{ btn_label }}</button>
  {% endif %}