{% extends 'base.html.twig' %}

{% block title %}
Pronostics NBA - Toutes les infos pour parier sur le basket NBA
{% endblock %}


{% block body %}
<h1 class="d-flex justify-content-center whitetitle"> Matchs à venir </h1>
{% include 'matchs_de_la_nuit.html.twig' %}

{% if  app.request.cookies.get('user') is not null  %}
<span class="alert-success"> Salut {{ app.request.cookies.get('user') }}! </span>
<h2> Dashboard en cours de dev </h2>
{% endif %}
{% endblock %}
