
<div class="container mb-1" id="comparaison">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark  "  style:"">  
    <form class="form-inline" style="width:100%">
      

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse d-flex justify-content-center " style=""  id="basicExampleNav" >

      <ul class="navbar-nav d-flex justify-content-between " style="width:100%;" >
        <li class="nav-item active">
          <a class="nav-link" href="#equipes">Stats équipes
            <span class="sr-only">(current)</span>
          </a>
        </li>
          <li class="nav-item ">
          <a class="nav-link" href="#tendances">Tendances
            <span class="sr-only">(current)</span>
          </a>
        </li>
          <li class="nav-itemk">
          <a class="nav-link" href="#joueurs">Stats joueurs
            <span class="sr-only">(current)</span>
          </a>
        </li>
         <li class="nav-item ">
          <a class="nav-link" href="#blessures">Infirmerie
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pronostiques">Pronostiques
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item ">
          {% if  app.request.cookies.get('user') is not null  %}
          <a class="nav-link bg-primary text-light" href={{path('main')}}>{{app.request.cookies.get('user')}} Pronostics </a>
          {% else %}
          <a class="nav-link bg-primary text-light" href={{path('signin')}}> Connexion / Inscription
           </a>
          {% endif %}
        </li>
      </ul>
    </div>
    </form>
  </nav>
</div>
